* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  padding: 15px;
  font-family: "Ubuntu", sans-serif;
}

.border {
  line-height: 0;
  border-bottom: 2px solid #383838;
  width: 515px;
}

.first-item {
  width: 200px;
  height: 140px;
  color: #fff;
  background-color: #393939;
  padding: 15px 15px 0 15px;
  margin-bottom: 5px;
}

.short {
  font-size: 40px;
  line-height: 30px;
  font-weight: 700;
}

ul {
  list-style: none;
}

li {
  width: 70px;
  margin-top: 5px;
}

a {
  display: block;
  height: 70px;
  border-left: 5px solid red;
  text-decoration: none;
  color: #333;
  transition: ease-in-out 0.6s;
}

.top {
  font-size: 22px;
  padding: 14px 0 0 10px;
}

.bottom {
  font-size: 12px;
  padding-left: 10px;
}

.first {
  border-left-color: #8cc63f;
}

.second {
  border-left-color: #ef3724;
}

.third {
  border-left-color: #ffa61a;
}

.fourth {
  border-left-color: #1ab1ff;
}

.fifth {
  border-left-color: #fc1dcf;
}

a:hover {
  border-left-width: 60px;
  cursor: pointer;
}

.first:hover {
  color: #8cc63f;
}

.second:hover {
  color: #ef3724;
}

.third:hover {
  color: #ffa61a;
}

.fourth:hover {
  color: #1ab1ff;
}

.fifth:hover {
  color: #fc1dcf;
}
