* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  padding: 30px 0;
  color: #333;
}

section {
  max-width: 1050px;
  margin: 0 auto;
}

.photo-container {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.box {
  position: relative;
  width: 350px;
  height: 350px;
  color: #fff;
  text-align: center;
}

.box-1 {
  background: url("https://images.pexels.com/photos/533360/pexels-photo-533360.jpeg") center;
  background-size: cover;
}

.box-2 {
  background: url("https://images.pexels.com/photos/1013420/pexels-photo-1013420.jpeg") center;
  background-size: cover;
}

.box-3 {
  background: url("https://images.pexels.com/photos/678654/pexels-photo-678654.jpeg") center;
  background-size: cover;
}

.box-4 {
  background: url("https://images.pexels.com/photos/461333/pexels-photo-461333.jpeg") center;
  background-size: cover;
}

.box-5 {
  background: url("https://images.pexels.com/photos/674483/pexels-photo-674483.jpeg") center;
  background-size: cover;
}

.box-6 {
  background: url("https://images.pexels.com/photos/452744/pexels-photo-452744.jpeg") center;
  background-size: cover;
}

.description {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-15%);
  transform: translateY(-15%);
  z-index: 1;
}

.photo-title {
  font-size: 30px;
  font-weight: bold;
}

.zoom {
  font-size: 40px;
  margin: 40px 135px 0;
}

.photo-cover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #2c293b;
  background-image: url("http://decorate-omar.bitballoon.com/images/dott.png");
  background-repeat: repeat;
  opacity: 0;
  transition: all 0.5s;
}

.box:hover .photo-cover {
  opacity: 0;
}

.zoom:hover {
  cursor: pointer;
}

.box:hover .photo-cover {
  opacity: 0.8;
}

@media only screen and (max-width: 1190px) {
  section {
    max-width: 700px;
  }
}

@media only screen and (max-width: 800px) {
  section {
    max-width: 350px;
  }
}

@media only screen and (max-width: 300px) {
  section {
    max-width: 200px;
  }

  .box {
    width: 200px;
    height: 200px;
  }

  .phot-descr {
    font-size: 14px;
  }

  .zoom {
    margin: 10px 90px 0;
  }
}
