* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.header {
  background-image: url("https://static.pexels.com/photos/572897/pexels-photo-572897.jpeg");
  background-size: cover;
  background-position: center;
  height: auto;
  background-attachment: fixed;
  color: #fff;
  font-family: "Lato", sans-serif;
  text-align: center;
  padding-bottom: 50px;
}

.row {
  max-width: 1140px;
  margin: 0 auto;
}

h1 {
  padding: 180px 10px 30px 10px;
  text-transform: uppercase;
  font-size: 200%;
}

h2 {
  padding-bottom: 5px;
}

h3 {
  padding: 30px;
  font-size: 140%;
}

.right {
  text-transform: uppercase;
  color: #e67e22;
}

.title-descr {
  font-size: 150%;
  padding: 20px 10px 40px 10px;
}

.title {
  text-align: left;
  padding: 40px 10px 20px 0;
}

.border {
  border-bottom: 2px solid #fff;
  height: 0;
  width: 7%;
  text-align: left;
}

.boxes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 30px 0 100px 0;
}

.box {
  width: 48%;
  background-color: rgba(255, 255, 255, 0.8);
  color: #333;
  border-radius: 3px;
  border-bottom: 5px solid #e67e22;
  font-size: 92%;
}

.description {
  padding: 25px 25px 30px 25px;
}

.contact {
  display: inline;
  font-size: 120%;
  padding: 0 70px 0 70px;
}

.navigation {
  list-style: none;
}

.navigation li {
  display: inline-block;
  margin: 20px 0;
  padding: 0 30px;
  border-right: 2px solid #e67e22;
  font-size: 100%;
  font-weight: 700;
}

.navigation li:last-child {
  border-right: none;
}

.navigation li a:link, .navigation li a:visited {
  text-decoration: none;
  color: #fff;
}

.navigation li a:hover, .navigation li a:active {
  color: #e67e22;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.btn:link, .btn:visited {
  text-decoration: none;
  border: 1px solid #e67e22;
  border-radius: 100px;
  padding: 12px 35px;
  background-color: #e67e22;
  text-transform: uppercase;
  color: #fff;
  -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
  0 6px 20px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.btn:hover, .btn:active {
  background-color: transparent;
  border: 3px solid #e67e22;
  color: #e67e22;
  font-weight: 700;
  -webkit-transition: background-color 0.3s;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.button {
  padding: 120px 10px;
}

.btn-second:hover {
  color: #fff;
}

.fa {
  color: #e67e22;
}

.fa:hover {
  -webkit-transform: scale(1.4);
  transform: scale(1.4);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
}

.fa-2x {
  color: #fff;
  padding: 0 25px;
}

.icons {
  margin-top: 80px;
}

.fa-facebook:hover {
  color: #3b5998;
}

.fa-twitter:hover {
  color: #00aced;
}

.fa-dribbble:hover {
  color: #ea4c89;
}

.fa-linkedin:hover {
  color: #007bb6;
}

.fa-github:hover {
  color: #000;
}

.fa-paper-plane-o {
  padding-right: 10px;
  color: #fff;
}
.fa-paper-plane-o:hover {
  padding-right: 10px;
  -webkit-transform: none;
  transform: none;
}

@media only screen and (max-width: 580px) {
  .title-descr {
    font-size: 120%;
    padding-bottom: 80px;
  }
  h1 {
    padding-top: 160px;
  }
  .contact {
    font-size: 110%;
    padding: 0 30px;
  }
}
